/*
 Name: Results Summary Component.
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani
 Author URL:  https://github.com/eserengo/
*/

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
}

:root {
  /* Typography */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 400;

  /* Color Palette */
  /* Primary */
  --LightRed: hsl(0, 100%, 67%);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%);

  /* Gradients */
  --LightSlateBlue-GradientBackground: hsl(252, 100%, 67%);
  --LightRoyalBlue-GradientBackground: hsl(241, 81%, 54%);
  --VioletBlue-GradientCircle: hsla(256, 72%, 46%, 1);
  --PersianBlue-GradientCircle: hsla(241, 72%, 46%, 0);

  /* Opacity */
  --LightRed-Opacity: rgba(255, 87, 87, 0.25);
  --OrangeyYellow-Opacity: rgba(255, 176, 31, 0.25);
  --GreenTeal-Opacity: rgba(0, 189, 145, 0.25);
  --CobaltBlue-Opacity: rgba(17, 37, 212, 0.25);

  /* Neutral */
  --White: hsl(0, 0%, 99%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsl(241, 100%, 89%);
  --DarkGrayBlue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  min-height: 100vh;
  min-width: 250px;
}

[v-cloak] {
  display: none;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--PaleBlue);
}

.sectionA {
  background-image: linear-gradient(to bottom, var(--LightSlateBlue-GradientBackground), var(--LightRoyalBlue-GradientBackground));
  padding: 4vh 4vw;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: 0px 2px 8px var(--LightRoyalBlue-GradientBackground);
  color: var(--White);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sectionA .title {
  color: var(--LightLavender);
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

.divA {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: linear-gradient(to top, var(--PersianBlue-GradientCircle), var(--VioletBlue-GradientCircle));
  padding: 1rem 2rem;
  margin-block: 1rem;
}

.divA .spanA {
  font-size: 3.5rem;
}

.divA .spanB {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: var(--LightLavender);
}

.sectionA .para {
  padding-inline: 10%;
  margin-block: 1rem;
}

.sectionB {
  padding: 6vh 4vw;
}

.sectionB .title {
  color: var(--DarkGrayBlue);
  margin-bottom: 1rem;
}

.divB {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 2vh 4vw;
  padding: 2vh 2vw;
  border-radius: 0.25rem;
}

.divB.i_0 {
  background-color: var(--LightRed-Opacity);
}

.divB.i_0 .category {
  color: var(--LightRed);
}

.divB.i_1 {
  background-color: var(--OrangeyYellow-Opacity);
}

.divB.i_1 .category {
  color: var(--OrangeyYellow);
}

.divB.i_2 {
  background-color: var(--GreenTeal-Opacity);
}

.divB.i_2 .category {
  color: var(--GreenTeal);
}

.divB.i_3 {
  background-color: var(--CobaltBlue-Opacity);
}

.divB.i_3 .category {
  color: var(--CobaltBlue);
}

.divB .score {
  color: var(--DarkGrayBlue);
}

.divB .rest {
  color: var(--DarkGrayBlue);
}

.break {
  margin-right: 8vw;
}

@media only screen and (width > 500px) {
  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10vh;
  }
  .main {
    flex-direction: row;
    width: 80vw;
    border-radius: 1rem;
  }
  .sectionA {
    border-radius: 1rem;
  }
  .divB {
    margin: 2vh 0vw;
  }
}